.adk
.env
.git
__pycache__
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env


# GCP / Vertex AI Specific
.gcloud/
.config

agentic_ai_roadmap.md
flow.*
tara_architecture.html
__pycache__/
